=content_for :frame_type do
  dialog

-@edit.suggestions.each do |s|
  %h4 Before
  %p.code!= diff_before(s)
  %h4 After
  %p.code!= diff_after(s)
-if @edit.comments?
  %h4 Comments
  %p= @edit.comments
%p.options
  %input{:type => 'button', :class => 'close', :value => 'Done'}
