-if @edit.status == 'accepted'
  .success Edit marked as accepted!
-if @edit.status == 'rejected'
  .error This change has been rejected
#edit-create-success
  -if @edit.status == 'accepted'
    %h4 Updated Version
    %p.hint Copy this text to your page
    %textarea=@edit.proposed
  %p.options
    %input{:type => 'button', :class => 'back', :value => 'Go Back'}
    %input{:type => 'button', :class => 'close secondary', :value => 'Done'}
