!!!
%head
  %title copypasta: reader powered edits
  =stylesheet_link_tag 'app'
  %noscript
    %style{:type => 'text/css'}
      :plain
        .no-js{ display: auto; }
        .js{ display: none !important; }
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20906606-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
%body
  #container{ :class => (yield :page_type).strip }
    %h1#logo
      %span copypasta
    #content
      =yield
      =javascript_include_tag 'jquery-1.5.1'
      =javascript_include_tag 'app'
