!!!
%head
  %title copypasta: reader powered edits
  =stylesheet_link_tag 'compiled/app'
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20906606-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
%body
  #container
    %h1#logo
      %span copypasta
    #content
      =yield
      =javascript_include_tag 'jquery-1.4.4.min'
      =javascript_include_tag 'application'
      #copy-pasta-button= image_tag "button-light.png", :alt => 'Suggest changes'
      :plain
        <script type="text/javascript">
          copypasta_content_selector = '#content';
          copypasta_account_id = '9';
          #{yield :button_options }</script>
      %script{:type => 'text/javascript', :src => '/javascripts/copypasta.js'}
