!!! 5
%html
  %head
    %title Framed copypasta
    =stylesheet_link_tag 'framed'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20906606-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body#copy-pasta-frame{:class => (yield :frame_type).strip}
    -flash.each do |k,v|
      %div{:class => k}= v
    -if @errors
      .error
        %ul
          -@errors.keys.each do |f|
            -@errors[f].each do |e|
              %li
                = f.to_s.humanize
                = e
    =yield
    =javascript_include_tag 'jquery-1.4.4.min'
    =javascript_include_tag 'framed'
    :javascript
      parent_url = '#{escape_javascript params[:url]}';
